@import "var";

.fedresults {
  .btn {
    border: 0;
    border-radius: 0;
    padding: 0 10px;

    &--primary {
      background:@fedRed;
      color: #fff;
    }

    &--sm {
      height: @sm-height;
      line-height: @sm-height;
    }

    &--social {
      height: @sm-height;
      line-height: @sm-height;
      margin-right: 5px;
      padding: 0;
      width: @sm-height;
    }
  }

}
