@import "var";

.header-search {
  background: @grayBlack;
  border-bottom: 1px solid #000;
  color: @grayMed;
  height: 40px;
}

.header-nav {
  background: @grayDark;
  color: @grayMed;
  height: 90px;
}
