@import "var";

.header-search {
  background: @grayBlack;
  border-bottom: 1px solid #000;
  color: @grayMed;

  @media @tablet-up {
    height: 42px;
  }

  &__group {
    @media @tablet-up {
      float: right;
    }
  }

  &__text, &__nav, &__icons {
    display: block;
    width: 100%;

    @media @tablet-up {
      display: inline-block;
      width: auto;
    }
  }

  &__text {
    text-align: center;

    a {
      color: #b2b2b2 !important;
      font-size: 13px;
      padding-right: 15px;
    }
  }

  &__nav {
    margin-right: 5px;

    input[type="text"] {
      background: #363636;
      border:0px;
      color: #7f7f7f;
      height: @sm-height;
      line-height: @sm-height;
      top:1px;
      position:relative;
      width: 89%;
    }

    input[type="submit"] {
      background:@fedRed url("../img/icon-search.png") center no-repeat;
      height: @sm-height;
      line-height: @sm-height;
      padding: 0 12px;
      text-indent:-9999em;
      border: 0;
      border-radius: 0;
      margin: 0 0 0 -4px;
      position: relative;
      width: @sm-height;

      /*&:after {
        background:transparent url("../img/arrow-left-red-small.png") center no-repeat;
        content: "";
        display: block;
        height: 10px;
        left: -10px;
        position: relative;
        width: 10px;
      }*/
    }

    @media @tablet-up {
        input[type="text"] {
          margin-top: 5px;
          max-width: 130px;
        }

        input[type="submit"] {
          max-width: 130px;
        }
    }
  }

  &__icons {
    text-align: center;
    padding: 10px 0;

    @media @tablet-up {
      text-align: left;
      padding: 0;
    }
  }

}

.header-nav {
  background: @grayDark;
  border-bottom: 1px solid #151515;
  color: @grayMed;

  &__logo {
    padding: 20px 0;
  }

  .nav {

    li {

      @media @tablet-up {
        display: inline-block;
      }

      a {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        transition: background .3s ease-out;

        &:hover, &:active, &:focus {
          background: @fedRedDark;
        }

        @media @tablet-up {
          display: inline-block;
          height: 90px;
          line-height: 90px;
          padding: 0 18px;
        }
      }
    }

    li.nav-selected, li.nav-path-selected {
      position: relative;
      a {
        background: @fedRed;

        &:hover, &:active, &:focus {
          background: @fedRedDark;
        }
      }

      @media @tablet-up {
        a:after {
          background: transparent url("../img/arrow-down-white.png") center center no-repeat;
          display: block;
          content: "";
          bottom: 20px;
          height: 10px;
          position: relative;
        }
      }
    }

    @media @tablet-up {
      float: right;
      overflow: hidden;
    }
  }
}
