@import "var";

/*template*/
@import "./header.less";
@import "./contact-us.less";
@import "./footer.less";
@import "./hr-checkmark.less";
@import "./btn.less";
@import "./page-title.less";
@import "./sub-nav.less";
@import "./forms.less";

/*blocks*/
@import "./blocks/fed-splash.less";
@import "./blocks/fed-events-slider.less";
@import "./blocks/fed-learn-more.less";
@import "./blocks/fed-blog-entry.less";
@import "./blocks/fed-contact-info.less";
@import "./blocks/fed-grid.less";
@import "./blocks/fed-tech-spotlight.less";
@import "./blocks/fed-featured-solution.less";
@import "./blocks/fed-solution-list.less";
@import "./blocks/fed-vendor-contact-info.less";
@import "./blocks/fed-event-description.less";
@import "./blocks/fed-solution-title.less";
@import "./blocks/fed-topic-list.less";

body {
  background: @grayBlack;
  .font-sans;
}

.fedresults {
  main {
    background: #fff;
    min-height: 150px;
    padding: 50px 0;

    img { margin-bottom: 13px; }
  }

  .home {
    padding:0;
  }

  input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input, select {
    border-radius:0px;
  }

  /*typography*/
  h1,h2,h3 {
    .font-lora;
    margin:0 0 15px;
  }

  h4,h5,h6 {
    margin:0 0 10px;
  }

  .page-title {
    color:@fedRed;
  }

  .title-underline {
    font-size: 30px;
    .font-lora;
    margin-bottom: 34px;
    text-align: center;
    &:after{ .red-underline; }

    &.title-underline--left {
      text-align: left;
      &:after{ .red-underline-left; }
    }
  }

  .text-subtitle--red {
    color: @fedRed;
    .font-lora;
    font-size: 28px;
    margin-bottom: 30px;
    padding: 0;
  }
  p, input, a {
    .font-sans;
  }

  a {
    color:@fedRed;
    &:hover, &:active, &:focus { color: @fedRedDark; }
  }

  a[href^="tel:"] {
    color:inherit;
    &:hover, &:active, &:focus { color: @fedRedDark; text-decoration: none; }
  }
}
