.page-title {
  background: transparent url('../img/fedresults-banner.png') no-repeat;
  background-position: cover;

  h1 {
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 40px; 
    height: 140px;
    line-height: 140px;
    text-align: center;
    text-shadow: 2px 2px 9px rgba(0,0,0,.8);
  }
}
