@import "var";

.page-title-callout {
  .callout-bg;

  h1 {
    font-size: 40px;
    height: 140px;
    line-height: 140px;
    .callout-title;

    &:after {
      background: @fedRed;
      bottom: 28%;
      content: "";
      display: block;
      height: 2px;
      margin: 0 auto;
      position: relative;
      width: 70px;
    }
  }
}
